h1 {
	padding: 20px;
	margin: 10px auto;
	background: #FD7;
	border: 2px solid #F84;
	border-radius: 20px;
	text-align: center;
	width: 50%;
}

p {
	font-style: italic;
	font-family: sans-serif;
	font-size: 12pt;
}

h2, div {
	border-top: 1px solid black;
}

.done {
	text-decoration: line-through;
}
